.signPage{
    /* background-image: url(./Anreise2_iStock-613783168.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%; */
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6em 17.5em 5em 19.5em;
    background-color: rgba(0, 0, 0, 0.3);
}

.sign_container{
    /* margin: 100px auto 0px auto; */
    padding: 0px;
    display: flex;
    width:100%;
    height:100%;
}

.left_side{
    margin-right: -57px;
    margin-top: 10px;
    width: 39%;
    height: 485.44px;
    padding: 139.4426px 0px 110.68px 0px;
    display: flex;
    align-items: center;
    text-align: center;
    background-image: url(./img.svg), url(./signimg.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.sidecontent{
    margin-top: 0px;
    margin-bottom: 0px;
}

.welcometext{
    margin:0px 57.245px 0px 57.399px;
    width: 136px;
    height: 90px;
    font-family: 'Inria Serif', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 31.24px;
    text-align: center;
    color: #FFFFFF;margin-top: 0px;
    margin-bottom: 0px;
}

.logo{
    margin:0px 0px 10px 70.3215px;
    width: 105px;
    height: 13px;
    font-family: 'Grechen Fuemen', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 28.46px;
    line-height: 12.729px;
    text-align: center;
    letter-spacing: -0.408px;
    color: #FFFFFF;
}

.logoIcon{
    margin:0px 0.188px 0px 57.966px;
    display: flex;
    align-items:center ;
    width: 156px;
    height: 140px;
    /*transform: rotate(17.82deg);*/
}

.right_side{
    background: #776156;
    border: 1px solid #776156;
    border-radius: 0px 95px 0px 0px;
    width: 65%;
    height: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px;
}

.close{
    /* margin-top: 50.81557px;
    margin-left: 253.2614px;
    margin-right: -28.157948px;
    margin-bottom: -60px; */
    width:  1em;
    height:  1em;
    cursor: pointer;
    margin: 0px;
    margin-left: auto;
    margin-right: 15%;
    margin-top: 0%;
}

.title{
    /* width: 92.495px; */
    /* height: 24.30px; */
    font-family:'Inria Serif', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.75em;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    /* border: 1px solid black; */
    margin: 0px;
    margin-top: 2%;
    margin-bottom: 5%;
    /* margin-bottom: 18.5152px;
    margin-top: 79.84px; */
}

.signwith_btns{
    margin-top: 0px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    gap:10px;
    /* border: 1px solid black; */
    width: 60%;
}

.signwith_btns a{
    text-decoration: none;
}

.google_btn{
    width: 100%;
    cursor: pointer;
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 14px;
    display: flex;
    gap: 5%;
    align-items: center;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    padding-left: 20%;
    padding-right: 10%;
}

.googleIcon{
    width: 13%;
    border-radius: 0px 14px 14px 0px;
}

.sign_withgoogle{
    font-family:'Inria Serif', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.1em;
    line-height: 1em;
    text-align: center;
    text-transform: capitalize;
    color:  #41312A;
}

.facebook_btn{
    width: 100%;
    cursor: pointer;
    display: flex;
    gap: 5%;
    align-items: center;
    background-color: #1562C7;
    border: 1px solid #1562C7;
    border-radius: 14px;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    padding-left: 20%;
    padding-right: 10%;
}

.facebookIcon{
    width: 13%;
    border-radius: 0px 14px 14px 0px;
}

.sign_withface{
    font-family:'Inria Serif', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.1em;
    line-height: 1em;
    text-align: center;
    text-transform: capitalize;
    color:  #FFFFFF;
}

.or{
    display: flex;
    align-items: center;
    gap: 5%;
    /* border: 1px solid; */
    width: 60%;
    margin-top: 2%;
}

.or hr{
    width: 48%;
    height: 0px;
    border: 1px solid #FFFFFF;
}

.or span{
    font-family: 'Inria Serif', serif;
    font-style: normal;
    font-size: 1em;
    font-weight: 700;
    line-height: 1em;
    text-align: center;
    text-transform: capitalize;
    color: rgba(255, 255, 255, 0.90);
}

.form{
    /* margin-top: 27.19px; */
    margin-bottom: 0px;
    /* border: 1px solid black; */
    width: 80%;
    padding: 0px;
    margin-top: 5%;
}

.sign_form{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.name{
    display: flex;
    margin: 0px;
    gap: 3%;
    margin-bottom: 4%;
    /* border: 1px solid black; */
}

.firstname, .lastname{
    width: 50%;
    background-color: rgba(217, 217, 217, 0.91);
    border: 1px solid rgba(217, 217, 217, 0.91);
    border-radius: 14px;
    padding-top: 3%;
    padding-bottom: 2%;
    padding-left: 4%;
    padding-right: 0px;
}

.firstname:focus{
    border: 1px solid transparent;
    outline: none;
    outline-offset: 0px;
}

.firstname ::placeholder{
    font-family: 'Inria Serif', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.75em;
    line-height: 22px;
    color: rgba(72, 71, 71, 0.88);
}

.lastname:focus{
    border: 1px solid transparent;
    outline: none;
    outline-offset: 0px;
}

.lastname ::placeholder{
    font-family: 'Inria Serif', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.75em;
    line-height: 22px;
    color: rgba(72, 71, 71, 0.88);
}
.email{
    margin-top: 0px;
    background-color: rgba(217, 217, 217, 0.91);
    border: 1px solid rgba(217, 217, 217, 0.91);
    border-radius: 14px;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 5%;
    margin-bottom: 3%;
}

.email:focus{
    border: 1px solid transparent;
    outline: none;
    outline-offset: 0px;
}

.password{
    background-color: rgba(217, 217, 217, 0.91);
    border: 1px solid rgba(217, 217, 217, 0.91);
    border-radius: 14px;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 5%;
    margin: 0px;
}

.password:focus{
    border: 1px solid transparent;
    outline: none;
    outline-offset: 0px;
}

.email ::placeholder{
    font-family: 'Inria Serif', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.75em;
    line-height: 22px;
    color: rgba(72, 71, 71, 0.88);
}

.password ::placeholder{
    font-family: 'Inria Serif', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.75em;
    line-height: 22px;
    color: rgba(72, 71, 71, 0.88);
}
.question{
    margin: 0px;
    margin-top: 2%;
    /* border: 1px solid black; */
    width: 80%;
    text-align: center;
    font-family: 'Inria Serif', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.25em;
    line-height: 22px;
    text-align: center;
    color: #F5F5F5;
}
.login{
    cursor: pointer;
    font-family: 'Inria Serif', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1em;
    line-height: 22px;
    text-align: center;
    text-transform: capitalize;
    color: #e09a7b;
    margin-left: 1%;
}

.sign_btn{
    margin: 0px;
    width: 30%;
    cursor: pointer;
    background-color: #41312A;
    border: 1px solid #41312A;
    border-radius: 14px;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 6%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

.signup{
    text-align: center;
    font-family: 'Inria Serif', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.25em;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.visibleBtn{
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-left: auto;
    margin-top: -6.5%;
    margin-right:5%;
    position: relative;
    z-index: 1;
}