.mainbody{
    width: 100%;
    background-image: url("./background.png");
    background-repeat:no-repeat ;
    background-size: 100%;
    padding:0px;
    margin: 0px;
    border:1px solid transparent;
    border-color:transparent;
    border-radius:50%/105px 105px 0px 0px;
    position:relative;
    z-index: 1;
    margin-top: -100px;
}