.footer_container{
    width: 100%;
     
    /* height: 2.649rem; */
    /* background-color:#4C4033; */
    margin-bottom: 0px;
    position: relative;
    z-index: 2;
}
.sec1{
    width:100%;
    margin-right: -1em;
    background-image: url("./bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 85%;
    display: flex;
    align-items: center;
    padding: 0px;

    gap: 5%;
}
.list{
    display: flex;
    flex-direction: column;
    gap: 0.70em;
    list-style: none;
    width:10.268em;
    height: 66.293%;
    margin-top: 3.25em;
    margin-left: 3em;
    margin-bottom: 1em;
}
.list li{
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
}
.list a{
    text-decoration: none;
    margin-bottom: 0px;
    margin-top: 0px;
    width: 100%;
    height: 0.397em;
    font-family: 'Inria Serif', serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1.25em;
    line-height: 0.397em;
    letter-spacing: -0.408px;
    color: #FFFFFF;
}
.contact_sec{
    width: 15.125em;
    display: flex;
    flex-direction: column;
    gap:1em;
    margin-top: 1.5em;
    margin-left: 7.978em;
    height: 70%;
}

.title{
    width: 6.609em;
    height: 0.757em;
    font-family: 'Inria Serif', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.25em;
    line-height: 0.757em;
    color: #FFFFFF;
    margin-bottom: 0px;
}

.telphone , .email{
    width: 100%;
    height: 0.649em;
    font-family: 'Inria Serif', serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1.25em;
    line-height:  0.649em;
    color: #FFFFFF;
    margin-top: 0px;
    margin-bottom: 0px;
}

.icons{
    display: flex;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 0px;
    gap:0.711em;
}

.facebookIcon, .instgramIcon{
    width: 1.25em;
    height: 1.25em;
}
.logos{
    display: flex;
    margin-left: 24em;
    height: 70%;
}
.logoIcon{
    width: 6.599em;
    height: 6.598em;
}
.logo{
    width: 4em;
    height: 0.397em;
    font-weight: 400;
    font-style: normal;
    font-family: 'Grechen Fuemen', cursive;
    font-size: 3em;
    line-height: 0.397em;
    color: #FFFFFF;
    margin-top: 1.25em;
}

.mainfooter{
    background-color: #4C4033;
    border: 1px solid #4C4033;
    padding: 0px;
}
.mainfooter h1{
    font-family: 'Inria Serif', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}
/*tabletMode*/
@media only screen and (min-width:501px) and (max-width:1100px){
    .logos{
        
        margin-left: 0%;
    }
    .contact_sec{
        margin-left: 0%;
    }
}

/* mobile mode */
@media only screen and (max-width :900px){
    .sec1{
        display: block;
        padding: 5%;
        text-align: center;
    }
    .list{
        margin-left: 0%;
        text-align: center;
        width: 100%;
        padding-left: 0%;
    }
    .contact_sec ,.title,.icons{
        margin-left: 0%;
        width: 100%;
        text-align: center;
        justify-content: center;
        
    }

    .logos{
        
        margin-left: 0%;
        justify-content: center;
    }
}